.info-content {
  border: 1px solid transparent;
  color: #f3ffff;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.info-content .title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
}
.info-content .paragraph {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
}
.form {
  background-color: #f3ffff;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #dc6569;
  height: 450px;
  margin-bottom: 100px;
  padding-top: 27px;
}
.form .form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form-inputs input {
  border-radius: 10px;
  border: 1px solid #b9b6d3;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 25px;
  width: 255px;
}
.form .form-inputs input:focus,
.form .form-inputs input input.form-control:focus {
  border-color: #3e3c49;
  box-shadow: none;
  outline: none;
  outline-width: 0;
}
.form .form-inputs p {
  display: block;
  color: #b9b6d3;
  font-size: 13px;
  line-height: 24px;
  margin-top: 16px;
  text-align: center;
  width: 280px;
}
.form .form-inputs p a {
  color: #ff7a7a;
  font-weight: 500;
}
.btn-purple {
  align-items: center;
  background-color: #6055a5;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #dc6569;
  cursor: pointer;
  display: flex;
  height: 90px;
  justify-content: center;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
}
.btn-purple:active {
  background-color: #49417d;
  box-shadow: 0px 0px 0px 0px #dc6569;
}
.btn-purple a {
  display: block;
  font-size: 15px;
  font-weight: 200;
  height: 45px;
  line-height: 26px;
  width: 170px;
}
.btn-purple a span {
  font-weight: 600;
}
.btn-green {
  background-color: #38cc8c;
  border-bottom: 5px solid #49ae84;
  border-radius: 10px;
  cursor: pointer;
  height: 57px;
  line-height: 57px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  font-weight: 400;
}
.btn-green:active {
  background-color: #49ae84;
}
body {
  background-image: url("../images/bg-intro-mobile.png");
  background-position: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ff7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
body main {
  width: 330px;
}
body a {
  color: #f3ffff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: repeat;
  }
}
@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
  }
  main {
    display: flex;
    width: 80vw !important;
    height: 90vh;
    border: 1px solid #00f;
  }
}
