@import 'modules/_vars'
@import 'modules/_info'
@import 'modules/_form'
@import 'modules/_buttons'

body
	background-image url('../images/bg-intro-mobile.png')
	background-position auto
	background-size cover
	background-repeat no-repeat
	background-color color-red
	font-family 'Poppins', sans-serif
	font-size 16px
	font-weight 400
	display flex
	justify-content center

	main
		width 330px

	a
		color color-white
		text-decoration none

@media screen and (min-width 768px)
	body
		background-image url('../images/bg-intro-desktop.png')
		background-repeat repeat

@media screen and (min-width 1024px)
	body
		height 100vh
		align-items center

	main
		display flex
		align-items center
		width 80vw !important
		height 85vh