.btn-purple
	align-items center
	background-color color-blue
	border-radius 10px
	box-shadow 0px 10px 0px 0px color-shadow
	cursor pointer
	display flex
	height 90px
	justify-content center
	margin-bottom 25px
	text-align center
	width 100%

	&:active
		background-color #49417D
		box-shadow 0px 0px 0px 0px color-shadow

	a
		display block
		font-size 15px
		font-weight 200
		height 45px
		line-height 26px
		width 170px

		span
			font-weight 600

.btn-green
	background-color color-green
	border-bottom 5px solid #49ae84
	border-radius 10px
	cursor pointer
	height 57px
	line-height 57px
	margin 0 auto
	text-align center
	text-transform uppercase
	width 280px
	font-weight 400

	&:active
		background-color #49ae84

@media screen and (min-width 1024px)
	.btn-purple
		height 62px

		a
			height 100%
			line-height 62px
			width 100%

			span
				font-weight 600

	.btn-green
		width 85%