.info-error
	border 2px solid color-red
	color color-red

	&:focus, input.form-control:focus
		border-color color-dark
		color color-dark

.img-error
	background-image url('../images/icon-error.svg')
	background-position-x 230px
	background-position-y 13px
	background-repeat no-repeat

@media screen and (min-width 1024px)
	.img-error
		background-position-x 405px