.form
	background-color color-white
	border-radius 10px
	box-shadow 0px 10px 0px 0px color-shadow
	height 500px
	margin-bottom 100px
	padding-top 27px
	display flex
	align-items center

	.form-inputs
		width 100%
		display flex
		flex-direction column
		align-items center

		input
			border-radius 10px
			border 1px solid color-grayish
			height 50px
			font-size 14px
			font-weight 500
			padding-left 25px
			width 255px

			&:focus, input.form-control:focus
				border-color color-dark
				box-shadow none
				outline none
				outline-width 0

		p
			display block
			color color-grayish
			font-size 13px
			line-height 24px
			margin-top 16px
			text-align center
			width 280px

			a
				color color-red
				font-weight 500

				&:hover
					text-decoration underline

		.info
			color color-red
			font-size 12px
			font-style italic
			margin-top 5px
			margin-bottom 15px
			text-align right
			width 280px

@media screen and (min-width 1024px)
	.form-content
		width 540px

	.form
		margin-bottom 0
		padding-top 30px
		width 540px
		height 485px

		.form-inputs
			input
				width 80%

			p
				width 80%

			.info
				width 85%