.info-content
	border 1px solid transparent
	color color-white
	margin-top 100px
	margin-bottom 50px
	text-align center

	.title
		font-size 30px
		font-weight 700
		// letter-spacing 1px
		line-height 40px

	.paragraph
		font-size 14px
		// letter-spacing 1px
		line-height 20px

@media screen and (min-width 1024px)
	.info-content
		margin-top 0
		margin-bottom 0
		margin-right 80px
		text-align left

		.title
			font-size 47px
			line-height 55px
			max-width 413px

		.paragraph
			line-height 25px
			max-width 495px