.alert-success
	background-color color-green
	border-radius 5px
	color color-white
	font-size 14px
	height 25px
	left 40px
	line-height 25px
	opacity 0
	position relative
	text-align center
	text-transform uppercase
	top -15px
	width 250px

.visible
	animation slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both

@keyframes slide-bottom
	0%
		-webkit-transform translateY(0)
		transform translateY(0)
		opacity 0

	100%
		-webkit-transform translateY(55px)
		transform translateY(55px)
		opacity 1

@media screen and (min-width 1024px)
	.alert-success
		left 150px