// --- Primary
color-red = #FF7A7A
color-green = #38CC8C
// --- Accent
color-blue = #6055A5
// --- Neutral
color-dark = #3E3C49
color-grayish = #B9B6D3
color-white = #F3FFFF
// --- Others
color-shadow = rgba(220, 101, 105, 1)